// ===============
// colors palette
// ===============
:root {
    color-scheme: dark;
    // Site colors (Кольори сайту):
    // =================================================================
    --primary: #141414; // Site main color - (Основной цвет сайта)
    --secondary: #d3d3d3; // Site secondary color - (Дополнительный цвет сайта)
    --accent: #3eb690; // Site accent color - (Например: кнопки действия, заголовки, ссылки)
    --extra: #256954; // Extra color
    --inverse: #f2f6ff; // Site inverse color - (Например: для создания контраста между фоном и текстом)
    --const-color: #f2f6ff; // Site inverse color - (Например: для создания контраста между фоном и текстом)
    --color: #294c60;

    // Background colors (Фонові кольори):
    // =================================================================
    --bg-primary: #141414;
    --bg-primary-accent: #242423; // BG primary background color - (Основной фоновый цвет сайта)
    --bg-inverse: #dbdbdc; // BG inverse - например, может использоваться для настройки цвета фона на светлом тексте.
    --bg-accent: #256954; // BG accent - например, может использоваться для установки цвета фона для акцентных элементов, таких как кнопки или иконки.
    --bg-secondary: #233d35; // BG secondary background color - (Дополнительный фоновый цвет сайта)

    // Text colors (Текстові кольори):
    // =================================================================
    --text-primary: #fbfffe; // Text primary text color - (Основной текстовый цвет сайта)
    --text-secondary: #080708; // Text secondary text color - (Дополнительный текстовый цвет сайта)
    --text-accent: #4ca085; // Text accent - например, может использоваться для настройки цвета текста для акцентных элементов на странице, таких как заголовки или кнопки.
    --text-inverse: #d7ece2; // Text inverse - например, может использоваться для настройки цвета текста на темном фоне.
    // =================================================================

    // SVG Color
    // ===============================================================
    --svg-primary: #d3d3d3;
    --svg-secondary: #141414;
    // decoration
    // =================================================================
    --decoration-50: #3eb69059;
    --decoration-100: #3eb690;

    // ===============================================================
    --border-radius-1: 0.8rem;
}

.light {
    --primary: #d3d3d3;
    --secondary: #141414;
    --inverse: #080708;

    // =========================================
    --bg-primary: #d3d3d3;
    --bg-primary-accent: #e8eddf;
    --bg-inverse: #242423;
    --bg-accent: #45b390;
    --bg-secondary: #256954;

    // =========================================
    --text-primary: #080708; // Text primary text color - (Основной текстовый цвет сайта)
    --text-secondary: #fbfffe; // Text secondary text color - (Дополнительный текстовый цвет сайта)
    --text-accent: #256954; // Text accent - например, может использоваться для настройки цвета текста для акцентных элементов на странице, таких как заголовки или кнопки.
    --text-inverse: #212523;
    // =========================================
    --svg-primary: #141414;
    --svg-secondary: #d3d3d3;
}

// background: conic-gradient(from 180deg at 50% 50%, rgba(20, 20, 20, 1) 0%, rgba(37, 105, 84, 1) 99%, rgba(62, 182, 144, 1) 100%);
