[data-showmore] {
    margin-top: 10px;
}
@property --c-0 {
    syntax: '<length-percentage>';
    initial-value: 0%;
    inherits: false;
}
[data-showmore-content] {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) var(--c-0), rgba(0, 0, 0, 0));
    transition: --c-0 0.5s;
    &._slide {
        transition: --c-0 0.5s;
    }
    ._showmore-active & {
        --c-0: 98%;
    }
}
// [data-showmore-content] {
//     mask-image: linear-gradient(to bottom, #000000, #00000000);
//     transition: liner-gradient 0.3s;
//     ._showmore-active & {
//         mask-image: linear-gradient(to bottom, #000000 99%, #00000000);
//     }
// }
[data-showmore-button] {
    span {
        &:last-child {
            display: none;
        }
        ._showmore-active & {
            display: none;
            &:last-child {
                display: block;
            }
        }
    }
}
