@font-face {
	font-family: ArgentumSans;
	font-display: swap;
	src: url("../fonts/ArgentumSans-Light.woff2") format("woff2"), url("../fonts/ArgentumSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Accuratist;
	font-display: swap;
	src: url("../fonts/Accuratist.woff2") format("woff2"), url("../fonts/Accuratist.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ArgentumSans;
	font-display: swap;
	src: url("../fonts/ArgentumSans-Medium.woff2") format("woff2"), url("../fonts/ArgentumSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: ArgentumSans;
	font-display: swap;
	src: url("../fonts/ArgentumSans-Thin.woff2") format("woff2"), url("../fonts/ArgentumSans-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: ArgentumSans;
	font-display: swap;
	src: url("../fonts/ArgentumSans-Regular.woff2") format("woff2"), url("../fonts/ArgentumSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Departura Extra Light;
	font-display: swap;
	src: url("../fonts/Departura Extra Light.woff2") format("woff2"), url("../fonts/Departura Extra Light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Departura Bold Italic;
	font-display: swap;
	src: url("../fonts/Departura Bold Italic.woff2") format("woff2"), url("../fonts/Departura Bold Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
